# development environment packages
arch>=4.8.1
bumpversion>=0.5.
coverage>=4.5.2
coveralls>=1.5.1
flake8>=3.6.0
matplotlib>=2.2.2
pytest>=4.0.2
PyYAML>=3.13
ipykernel>=5.1.
jupyter>=1.0.
jupyter_contrib_nbextensions>=0.5.
nbconvert>=5.4.
seaborn>=0.9.0
statsmodels>=0.9
tensorboard>=1.12.0
xgboost>=0.7.2
