# development environment packages
bumpversion>=0.5.
coverage>=4.5.2
coveralls>=1.5.1
flake8>=3.6.0
matplotlib>=2.2.2
pytest>=4.0.2
PyYAML>=3.13
ipykernel>=4.8.2
jupyter-client>=5.2.3
jupyter-core>=4.4.0
seaborn>=0.9.0
tensorboard>=1.12.0
xgboost>=0.7.2
