# modified gitpip freeze output
absl-py>=0.2.2
appnope>=0.1.0
asn1crypto>=0.24.0
astor>=0.6.2
backcall>=0.1.0
bleach==1.5.0
certifi==2018.8.24
cffi>=1.11.5
chardet>=3.0.4
click>=6.7
cryptography>=2.2.2
cycler>=0.10.0
decorator>=4.3.0
Flask>=1.0.2
gast>=0.2.0
grpcio>=1.12.1
h5py>=2.8.0
html5lib==0.9999999
idna>=2.7
ipykernel>=4.8.2
ipython>=6.4.0
ipython-genutils>=0.2.0
itsdangerous>=0.24
jedi>=0.12.0
Jinja2>=2.10
jupyter-client>=5.2.3
jupyter-core>=4.4.0
Keras>=2.2.2
keras-applications>=1.0.6
keras-preprocessing>=1.0.5
kiwisolver>=1.0.1
Mako>=1.0.7
Markdown>=2.6.11
MarkupSafe>=1.0
matplotlib>=2.2.2
numpy<=1.14.5,>=1.13.3
pandas>=0.23.1
parso>=0.2.1
patsy>=0.5.0
pexpect>=4.6.0
pickleshare>=0.7.4
pluggy==0.6.0
prompt-toolkit<2.1.0,>=2.0.0
protobuf>=3.6.0
ptyprocess>=0.6.0
pycparser>=2.18
Pygments>=2.2.0
pyOpenSSL>=18.0.0
pyparsing>=2.2.0
PySocks>=1.6.8
pytest==3.5.1
python-dateutil>=2.7.3
python-dotenv>=0.8.2
pytz>=2018.4
PyWavelets==1.0.1
PyYAML>=3.12
pyzmq>=17.0.0
requests>=2.19.1
scikit-learn>=0.19.2
scipy>=1.1.0
seaborn>=0.9.0
setuptools<=39.1.0
simplegeneric>=0.8.1
six>=1.11.0
statsmodels>=0.9.0
tensorboard>=1.12.0
tensorflow>=1.8.0
termcolor>=1.1.0
Theano>=1.0.2
tornado>=5.0.2
traitlets>=4.3.2
urllib3>=1.23
wcwidth>=0.1.7
webencodings>=0.5.1
Werkzeug>=0.14.1
xgboost>=0.7.2
